.custom-header {
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  color: white;
  position: relative;
}

.transparent-header {
  background-color: transparent;
  z-index: 2;
  /* position: sticky;
  top: 0;
  background: var(--secondary-color);
  filter: brightness(0.85);
  z-index: 1000; */
}

.logo-container .logo {
  height: 80px;
  margin-left: 50px;
}

.nav-menu {
  margin-right: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.nav-menu a:hover {
  color: #d9437f;
}

.login-button {
  background: transparent;
  /* border: 2px solid white;
  /* border-radius: 8px; */
  padding: 0;
  /* color: white; */ 
  cursor: pointer;
  /* font-weight: bold; */
  transition: transform 0.4s ease;
}

.login-button:hover {
  transform: scale(1.1);
  background-color: transparent;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}
