html,
body,
#root {
  margin: 0;
  padding: 0;
  width:100% ;
  user-select: none;
  overflow-x: hidden;

}

h1 {
  font-size: xx-large;
  color: cornflowerblue;

}

span {
  font-size: large;
  color: darkblue;
}

p {
  font-size: medium;
  color: darkslategrey;

}

a {
  color: aliceblue;
  font-size: medium;
  text-decoration: none;
}

li {
  list-style-type: none;

}

button {
  display: flex;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border: none;
  width: 256px;
  height: 54px;
  padding: 1rem;
  text-align: center;
  color: antiquewhite;
  font-size: large;

}

button:hover {
  background-color: darkblue;
}