:root {
  --primary-color: #C77294;
  --secondary-color: #CFAAD0;
  --background-color: #EFE6E8;
  --text-color: #2B313B;
  --H1-H2-font: "Andika";
  --H3-H4-font: "Encode Sans Expanded";
  --texto-body-font: "Amiko";
  --buttons-label-font: "Atkinson Hyperlegible";
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width:100% ;
  height: 100%;
  user-select: none;
  overflow-x: hidden;

}

h1,
h2 {
  font-family: var(--H1-H2-font);
  font-size: xx-large;
  color: var(--primary-color);

}

h3,
h4 {
  font-family: var(--H3-H4-font);
  font-size: large;
  color: var(--text-color);

}

span {
  font-family: var(--H3-H4-font);
  font-size: large;
  color: var(--text-color);
}

p {
  font-family: var(--texto-body-font);
  font-size: medium;
  color: var(--text-color);

}

label {
  font-family: var(--texto-body-font);
  font-size: small;
  color: var(--text-color);
}

a {
  font-family: var(--texto-body-font);
  color: var(--text-color);
  font-size: medium;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

li {
  font-family: var(--texto-body-font);

}

button {
  display: flex;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: large;
}

button:hover {
  background-color: var(--secondary-color);
}