.footer {
  background-color: #f9f9f9;
  padding: 30px 60px 50px;
  margin-top: 80px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 10px 20px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin: 6px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column li:hover {
  color: #c06a8d;
}

.brand h3 {
  font-size: 20px;
  color: #c06a8d;
  margin-bottom: 10px;
}



