.footer {
  background-color: #cfaad0;
  padding: 30px 60px 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.home {
  font-family: var(--H3-H4-font);
  color: #d9437f;
  font-size: xx-large;
  text-decoration: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  transition: scale 0.4s ease;
}
.home:hover {
  scale: 1.06;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 10px 20px;
}

.footer-column h4 {
  color: #d9437f;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin: 6px 0;
}

/* Estilo común para botones y enlaces */
.footer-link {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  transition: color 0.4s;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  transition: scale 0.4s ease;
}

.footer-link:hover {
  color: white;
  scale: 1.04;
}

.brand h3 {
  font-size: 20px;
  color: #c06a8d;
  margin: 50px;
}