.aboutUs-block img {
  display: block;
  margin: 0 auto;
  width: 650px; 
  height: auto;
  flex-wrap: wrap;
}

.aboutUs-text {
  width: 50%;
  margin: 10px auto;
  text-align: justify;
  word-wrap: break-word;
}
